.hn{font-family: 'Hanna', sans-serif;}
.jg{font-family: 'Jeju Gothic', sans-serif;}

h1{
    font-family: 'Hanna', sans-serif;
}
body{
    background-color: white;
}
.top{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.container{
    border-radius: 2%;
    overflow: hidden;
    font-family: 'Hanna', sans-serif;
    font-size: 25px;
    display: grid;
    background-color: lavenderblush;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.item{
    text-align: center;
}
.im{
    border-radius: 5%;
    overflow: hidden;
    width: 350px;
    height: 266.5px;
}
@media (max-width: 1100px) {
    /* For mobile phones: */
    .container{
        grid-template-rows: auto auto;
    }
    .im{
        width: 100px;
        height: auto;
    }
}