.left {
    float: left;
    /* width: 500px; */
    width: 30%;
    text-align: left;
    color: DodgerBlue;
    padding: 200px;
    font-size: 60px;
}
.left p{
    color: black;
    font-size: 25px;
}
.right {
    background-color: white;
    float: left;
    /* width: 350px; */
    width: 30%;
    padding: 15px;
    margin: 150px;
    text-align: center;
    margin-right: 0;
    margin-left: 50px;
}

.text {
    height: 50px;
    width: 330px;
}
.button1 {
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 330px;
}
.button2 {
    background-color: limegreen;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
}

@media (max-width: 1100px) {
    /* For mobile phones: */
    .left, .right {
        margin: 30px;
        width: 100%;
    }
}