body{
    text-align: center;
}
.text1{
    margin-top: 200px;
}
.text1, .text2{
    font-size: 40px;
    font-family: 'Hanna', sans-serif;
    margin-bottom: 20px;
}
#submit{
    background-color: #CE0058;
    color: white;
    border: 0;
    font-size: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Jeju Gothic', sans-serif;
    margin-top: 50px;
}
@media (min-width: 500px) {
    /* For mobile phones: */
    .text1{
        margin-top: 80px;
    }
}